<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="isNavbarVisible()">
    <!-- <a class="navbar-brand" routerLink="#">Navbar</a> -->
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button> -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <img src="assets/bank-svgrepo-com.svg" viewBox="0 0 20 20" width="30" height="30" alt="Bank Logo">
        <ul class="navbar-nav mr-auto">
            <div class="dropdown" (click)="toggleDropdown('dropdown1')" [class.open]="isDropdown1Open">
                <button class="btn dropdown-toggle">Customers</button>
                <div class="dropdown-menu" *ngIf="isDropdown1Open">
                    <a routerLink="/customers" class="dropdown-item" href="#">All Customers</a>
                    <a class="dropdown-item" href="#">By Name</a>
                    <a class="dropdown-item" href="#">By Id</a>
                </div>
            </div>
            <div class="dropdown" (click)="toggleDropdown('dropdown2')" [class.open]="isDropdown2Open">
                <button class="btn dropdown-toggle">Accounts</button>
                <div class="dropdown-menu" *ngIf="isDropdown2Open">
                    <a class="dropdown-item" href="#">All Accounts</a>
                    <a class="dropdown-item" href="#">By Id</a>
                    <a class="dropdown-item" href="#">By Customer</a>
                    <a class="dropdown-item" href="#">By Balance</a>
                </div>
            </div>
            <button type="button" class="btn btn-success" (click)="onAddAccountClick()">Add Account</button>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <a routerLink="/dashboard" class="btn btn-dark" id="logout">Logout</a>
    </div>
</nav>