<!DOCTYPE html>
<html>
<body>
    <div class="container">
        <h1>Welcome to Our Banking App!</h1>
        <p>Choose an option to get started</p>

        <a routerLink="/login" class="btn btn-primary btn-lg">Login</a>

        <!-- <button type="submit" class="btn btn-primary btn-lg" (click)="onLoginButtonClick()">Login</button> -->

        <a routerLink="/register" class="btn btn-primary btn-lg">Register</a>
        <!-- <button type="submit" class="btn btn-primary btn-lg" (click)="onRegisterButtonClick()">Register</button> -->
    </div>
</body>
</html>