<form #form="ngForm">
    <h3>{{title}}</h3>
    <div class="form-group">
        <label for="username">Username</label>
        <input ngModel #username="ngModel" required minLength="6" name="username" type="text" class="form-control"
            id="username" aria-describedby="username" placeholder="Enter username" (keyup.enter)="display(username)">
        <div class="alert alert-danger" *ngIf="username.invalid && username.touched">
            <div *ngIf="username.errors?.['required']">Username is required</div>
            <div *ngIf="username.errors?.['minLength']">Username must have at least 6 characters</div>
        </div>
    </div>
    <div class=" form-group">
        <label for="password">Password</label>
        <input ngModel #password="ngModel" required minLength="5" name="password" type="password" class="form-control"
            id="password" placeholder="Enter password">
        <div class="alert alert-danger" *ngIf="password.invalid && password.touched">
            <div *ngIf="password.errors?.['required']">Password is required</div>
            <div *ngIf="password.errors?.['minLength']">Password must have at least 5 characters</div>
        </div>
    </div>
    <div class="checkbox">
        <label>
            <input ngModel name="subscribe" type="checkbox">Subscribe to the mailing list</label>
    </div>
    <div class="form-group">
        <label for="contactmethod">Contact Method</label>
        <select ngModel name="contactmethod">
            <option value=""></option>
            <option *ngFor="let contactmethod of contactMethods" [value]="contactmethod.id">{{contactmethod.name}}
            </option>
        </select>
    </div>
    <button type="button" class="btn btn-primary" [disabled]="form.invalid">Login</button>
</form>

{{form.value | json}}